<div class="wrapp">
 
    <!-- side_bar -->
<div class="side_bar">
<h2>bug check</h2>
<input type="button" onclick="location.href='http://coper-bugs.com/bug/toplist'" value="バグ一覧" style="WIDTH: 100px; HEIGHT: 100px">
<br>
<input type="button" onclick="location.href='http://coper-bugs.com/bug/add'" value="チケット作成" style="WIDTH: 100px; HEIGHT: 100px">
<br>
<input type="button" onclick="location.href='http://coper-bugs.com/bug/master'" value="マスタ設定" style="WIDTH: 100px; HEIGHT: 100px">
</div>
    <!-- /side_bar -->
 
    <!-- container -->
    <div class="container">
 
        <!-- contents -->
        <div class="contents">

<style>
.wrapp {
  position: relative; /* IE6のサイドバー固定用 */
  width: 100%;
  margin: 0 auto;
}

.container {
  width: 500px;
  padding:  0 0 0 250px; /* サイドバーとの距離 */
}

.side_bar {
  position: fixed; /* スクロールしても位置を固定 */

  width: 228px;
  height: 100%;
  padding:10px;
  margin:-8px;
  background-color:#C8E9F4;
}

.contents {
  width: 1000px;
  padding: 50px;

}

/* IE6 */
.side_bar    {
  _position: absolute;
  _top: expression(eval(document.documentElement.scrollTop+54)); /* サイドバー位置調整 */
}

table {
    border-collapse: collapse;
}
td {
    border: solid 1px;
    padding: 0.5em;
}
</style>
